/* ***---------- ESTRUCTURA ----------*** */        
:root {
    --negre: #000;
    --gris-txt: #535353;
    --gris-fosc: #808080;
    --gris: #D8D7D7;
    --gris-clar: #F5F1F1;
    --blanc: #fff;
    --taronja: 250, 110, 59;
    --salmo: #F08080;
    --groc: #F0E68C;
}

html { 
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    overflow-x: hidden;
}
    
*, *:before, *:after { 
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;    
    overflow-x: hidden;
}

.contenidor {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 1200px;
    min-width: 280px;
    margin: auto;
}

header {
    padding: 10px 10px 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu, aside {
    padding: 10px;
}

.menu {
    display: flex;   
    gap: 0.4rem;
    padding-top: 2em;
}

.logo {
    padding-bottom: 1rem;
}

aside, .logo, .xs {
    flex-grow: 1;
}

nav {
    flex-grow: 4;
}

main {
    display: flex;   
}

section {
    flex-grow: 2;
    margin-right: 10px;
}

.articles-row {
    display: flex;
}

article {
    background-color: var(--gris-clar);
    flex-grow: 1;
    margin: 10px;
    padding: 10px;
}

aside {
    min-width: 23%;
}

footer {
    padding: 0 10px;
    margin-bottom: 10px;
}

/* **** ------- CONTINGUT / ESTILS PÀGINA -------- **** */

/* Nivell 2 - Exercici 4 => Capçalera i grafisme: */  

header {
    height: 25rem;
    background-image: url("../img/header.jpg");
    background-position: center;
}

.logo {
    animation: entradaLogo 1.2s ease-in-out;
    position: relative;
}

.menu-list {
    font-size: 1rem;
    list-style-type: none;
    height: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul li:nth-child(2) a {
    animation: entradaMenu 1.2s ease-in 0.6s both;
}

nav ul li:nth-child(3) a {
    animation: entradaMenu 1.2s ease-in 1s both;
}

nav ul li:nth-child(4) a {
    animation: entradaMenu 1.2s ease-in 1.4s both;
}

nav ul li:nth-child(5) a {
    animation: entradaMenu 1.2s ease-in 1.6s both;
}

nav ul li:last-child a {
    animation: entradaMenu 1.2s ease-in 2s both;
}

ul, li {
    margin: 0;
    padding: 0;
}

ul li {
    display: flex;
}

.xs ul {
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.xs ul li {
    animation: entradaXs 1.2s ease-in 2s both;
}

ul li a:link, ul li a:visited {
    font-size: 1rem;
    color: var(--gris-fosc);
    padding: 1.2em 1em;
    text-align: center;
    text-decoration: none;
    border-bottom: 2px solid rgba(var(--taronja), 0);
}

.xs ul li a:link, .xs ul li a:visited {
    padding: 1.2em 0.5em;    
}

/* Roll-over links: */
ul li a:hover, ul li a:active {
    color: var(--salmo);
    border-bottom: 2px solid var(--salmo);
}

.menu-list li:first-child, .menu-list li:first-child a {
    display: none;
}

.banner {
   display: flex;
   justify-content: center;
}

.banner-content {
    height: 8.6rem;
    width: 92%;
    background-color: rgba(0, 0, 0, 0.1); 
}

h1 {
    font-family: 'IM Fell Great Primer', serif;
    font-weight: 500;
    color: rgba(var(--taronja), 0.6);  /* Transparència titular */
    text-align: center;
    padding-top: 0.3em;
    animation: entradaTitol 2s ease-in-out 3s both;
}

/* --- Main & footer --- */

/* Nivell 2 - Exercici 5 => Grafisme articles: */  

section, aside, footer {
    background-color: var(--gris);
}

.img-article {
    position: relative;
    overflow: hidden;
    margin-bottom: 8px;
}

.img-article img { 
    height: 200px;
    width: 100%;
    object-fit: cover;
    display: block;
    transition: all 0.5s ease;
} 

.img-article img:hover { 
    transform: scale(1.2);
    opacity: 0.6;
}

.txt-img {
    color: var(--groc);
    position: absolute;
    bottom: 0.18rem;
    left: 0.3rem;
}

.seccio-article {
    background-color: var(--salmo);
    padding: 12px 0 3px 5px;
    margin: 5px 0;
}

h2 {
    color: var(--blanc);
    padding: 0;
    margin: 0;
    font-family: 'Inconsolata', monospace;
    font-size: 1.8rem;
    font-weight: 600;
    letter-spacing: 0.08em;
    animation: entradaEntradetes 3s ease-in 3.5s both;
}

.txt-article {
    color: var(--gris-txt);
    column-count: 2;
    column-width: auto; 
    column-gap: 1em;
    padding: 15px 5px;
}

.link-article a {
    color: var(--gris-fosc);
    text-decoration: none;
    padding: 0 5px 1px 5px;
}

.link-article a:hover {
    color: var(--salmo);
    text-decoration: underline;
}

/* FINAL Grafisme articles // Segueixen altres elements del main i el footer: */  

.article-footer {
    color: var(--negre);
    text-align: center;
    padding: 8px 14px 12px 14px;
}

.aside-content {
    color: var(--negre);
    text-align: center;
    padding: 0 8px 8px 8px;
}

.footer-content {
    color: var(--gris-txt);
    text-align: center;
    background-color: var(--gris-clar);
    padding: 1px 0;
}

/* -------------- Nivell 3 - Exercici 6 => Animació: -------------- */
/* Aquí hi ha els @keyframes, les animacions es criden en cada regla CSS */

@keyframes entradaLogo {
    0% {
        opacity: 0;
        top: -120px;
        left: 10px;
    }

    50% {
        opacity: 0.7;
        transform: scale(1.8, 1.8);
        top: 0px;
        left: 35px;
    }

    100% {
        opacity: 1;
        left: 0px;
        top: 0px;
    }
}

@keyframes entradaMenu {
    0% {
        opacity: 0;
        margin-top: -120px;
    }

    50% {
        opacity: 0.7;
        margin-top: 0px;
    }

    75% {
        opacity: 0.8;
        margin-top: -20px;
    }

    100% {
        opacity: 1;
        margin-top: 0px;
    }
}

@keyframes entradaXs {
    0% {
        opacity: 0;
        transform: translateX(125px);
    }

    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes entradaTitol {
    0% {
        opacity: 0;
        transform: scale(2, 2);
        color: var(--gris-fosc);
    }

    50% {
        opacity: 0.8;
        color: var(--gris-fosc);
    }

    75% {
        transform: scale(0.6, 0.6);
        color: rgba(var(--taronja));
    }

    100% {
        transform: scale(1, 1);
    }

}

@keyframes entradaEntradetes {
    0% {
        opacity: 0;
        transform: translateX(225px);
    }

    75% {
        transform: translateX(0px);
    }

    100% {
        opacity: 1;
   
    }
}

/* *** ADAPTACIÓ RESPONSIVE --- MEDIA QUERIES *** */

/* Versió tauleta (portrait + landscape): */

@media only screen and (max-width: 992px) and (min-width: 600px) {

    main {
        display: flex;
        flex-direction: column;
    }

    section {
        margin-right: 0px;
        margin-bottom: 10px;
    }
}

/* Retoc per a pantalles estretes: */

@media only screen and (min-width: 601px) and (max-width: 768px) {

    .txt-article {
        column-count: 1;
    }
}

/* Versió mòbil: */

@media only screen and (max-width: 600px) {

/* Nivell 3 - Exercici 6 => Animacions adaptades i regles CSS d'aquest Media Query: */

    @keyframes entradaLogo {
        0% {
            opacity: 0;
            top: -120px;
            left: 10px;
        }

        50% {
            opacity: 0.7;
            transform: scale(1.8, 1.8);
            top: 0px;
            left: 185px;
        }

        100% {
            opacity: 1;
            left: 0px;
            top: 0px;
        }
    }

    @keyframes entradaBurger {
        0% {
            opacity: 0;
            top: -120px;
            left: 10px;
        }

        50% {
            opacity: 0.7;
            transform: scale(1.8, 1.8);
            top: 0px;
            left: 155px;
        }

        100% {
            opacity: 1;
            left: 0px;
            top: 0px;
        }
    }

    .logo {
        animation: entradaLogo 1.2s ease-in-out;
        position: relative;
    }

    .burger {
        animation: entradaBurger 0.8s ease-in 0.6s both;
    }

    nav ul li:nth-child(2) a {
       animation: entradaMenu 1.2s ease-in 0.4s both;
    }

    nav ul li:nth-child(3) a {
        animation: entradaMenu 1.2s ease-in 0.6s both;
    }

    nav ul li:nth-child(4) a {
        animation: entradaMenu 1.2s ease-in 0.8s both;
    }

    nav ul li:nth-child(5) a {
        animation: entradaMenu 1.2s ease-in 1s both;
    }

    nav ul li:last-child a {
        animation: entradaMenu 1.2s ease-in 1.2s both;
    }

    .xs ul li:first-child {
        animation: entradaBurger 0.8s ease-in 0.8s both;
    }

    .xs ul li:last-child {
        animation: entradaBurger 0.8s ease-in 1s both;
    }

    h1 {
        animation: entradaTitol 2s ease-in-out 2s both;
    }

    /* Fi animacions -- // -- Canvis en capçalera pq menú s'amagui i s'obri amb la icona d'hamburguesa: */

    .header {
        height: 28rem;
        background-position: bottom;
        background-repeat: no-repeat;
    }

    .menu {
        flex-direction: column;   
    }  

    .menu-list li a {
        display: none;
    } 

    .menu-list li:first-child, .menu-list li:first-child a {
        display: block;
    } 

    .xs ul {
        justify-content: flex-start;
    }

    .banner-content {
        height: 8.5rem;
    }

    h1 {
        font-size: 1.6em;
    }

    .menu-list.responsive li a {
        display: block;
    }

    .header-responsive {
        height: 43rem;
    }

    .menu-list {
        flex-direction: column;
        align-items: flex-start;
    }

    .burger:link, .burger:visited, .burger:hover, .burger:active {
        color: var(--gris-fosc);
        padding: 0.4em 1em 1.2em 1em; 
        border-bottom: 0px;
    }

    ul li a:link, ul li a:visited {
        padding: 0.8em 1em;
    }
    
    .xs ul li a:link, .xs ul li a:visited {
        margin-left: 0.6em;
        padding: 0.4em 0.4em;    
    }

    /* Altres adaptacions estructura */

    section {
        margin-right: 0px;
        margin-bottom: 10px;
    }
   
    main {
        display: flex;
        flex-direction: column;     
    }

    .articles-row {
        flex-direction: column;
    }

}

/* Pantalles mini <420px */
@media only screen and (max-width: 420px) {
   
    .txt-article {
        column-count: 1;
    }

}