/* Nivell 1 - Exercici 1 => Versió desktop (i tablet landscape -- major de 768px --): */        
html { 
    box-sizing: border-box;
    font-size: 17px;
}
    
*, *:before, *:after { 
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;    
}

/* Colors */

.negre, .negre-groc {
    background-color: black;
}

.blau-fosc {
    background-color: #2D4059;
}

.tomato {
    background-color: #EA5455;
}

.taronja {
    background-color: #F07B3F;
}

.groc {
    background-color: #FED460;
}

.violeta {
    background-color: #4E4E6A;
}

.blau {
    background-color: #1F6CB0;
}

.blau-clar {
    background-color: #70A3C4;
}

.magenta {
    background-color: #F73F52;
}

.groc-clar {
    background-color: #FEEA85;
}

.mostassa-ft {
    background-color: #E6AF2E;
} 

.contenidor {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 1200px;
    padding: 20px;
    margin: auto;
}

header, .menu, .banner, main, section, aside, footer {
    padding: 20px;
}

.menu {
    display: flex;   
    gap: 20px;
    margin-bottom: 10px;
}

.logo, .xxss, aside {
    flex-grow: 1;
}

nav {
    flex-grow: 4;
}

section {
    flex-grow: 2;
    margin-right: 20px;
}

.articles-row {
    display: flex;
    gap: 20px;
}

article {
    flex-grow: 1;
    margin-bottom: 20px;
}

.menu {
    column-gap: 20px;
    margin-bottom: 10px;
}

main {
    display: flex;
}

aside :first-child {   
    margin-bottom: 10px;
}
